# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies
.cache

# building
target
build
null
tmp
temp
dist
test-output
build.log

# misc
.DS_Store

# project files to ignore
!/results/.gitkeep


#INTELLIJ
.idea/
out/
.svn/
*.map
*.iml
coverage-error.log
.iml
